body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


#btnTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

#btnTop:hover {
    background-color: orange;
}