#intro {
    font-size: 200%;
    text-align: center;
    background-image: url("bookstore.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
}